extends layout
block content
     h1 #{title}
     br
     form(action="/completeevent", method="post")
      table.table.table-striped.table-bordered
         thead
           td Event Name
           td Category
           td Start Date
           td End Date
           td Location
           td Cost
           td Additional Information
         if (typeof events === "undefined")
           tr
             td
         else
           each event  in events 
             tr
               td #{event.name}
               td #{event.category}
               td #{prettyDate(event.start_date)}
               td #{prettyDate(event.end_date)}
               td #{event.location}
               td #{event.cost}
               td #{event.additional_information}
       button.btn.btn-primary(type="submit") Complete events
     hr
     form.well(action="/addevent", method="post")
       label Event Name:
       input(name="name", type="textbox")
       br
       label Start Date:
       input(name="start_date", type="datetime-local")
       br
       label End Date:
       input(name="end_date", type="datetime-local")
       br
       label Event Category:
       input(name="category", type="textbox")
       br
       label Event Location:
       input(name="location", type="textbox")
       br
       label Event Cost:
       input(name="cost", type="textbox")
       br
       label Additional Information:
       input(name="additional_information", type="textbox")
       br
       button.btn(type="submit") Add item
     hr
     .container-fluid
      .row
       .col-xs-12
        #calendar
      // Execute your JavaScript code after the libraries are loaded
      script.
        $(document).ready(function() {
          $('.dtp').datetimepicker();
          moment.locale('en');
          var now = moment();
          var Calendar = $('#calendar').Calendar({
            locale: 'en'
          }).init();
          console.log(Calendar);
          var dbevents = !{JSON.stringify(events)};
          var newItems = [];
          dbevents.forEach(function(item) {
            var startDate = Date.parse(item.start_date) / 1000;
            var endDate;
            if (item.end_date) {
              endDate = Date.parse(item.end_date) / 1000;
            } else {
              endDate = startDate;
            }
            var newItem = {
              start: startDate,
              end: endDate,
              title: item.name,
              content: item.additional_information,
              category: item.category,
              _id: item.id,
              _rev: item._rid
            };
            newItems.push(newItem);
          });

          Calendar.addEvents(newItems);
           // Listening for events
          $('#calendar').on('Calendar.init', function(event, instance, before, current, after){
            console.log('event : Calendar.init');
            console.log(instance);
            console.log(before);
            console.log(current);
            console.log(after);
          });
          $('#calendar').on('Calendar.daynote-mouseenter', function(event, instance, elem){
            console.log('event : Calendar.daynote-mouseenter');
            console.log(instance);
            console.log(elem);
          });
          $('#calendar').on('Calendar.daynote-mouseleave', function(event, instance, elem){
            console.log('event : Calendar.daynote-mouseleave');
            console.log(instance);
            console.log(elem);
          });
          $('#calendar').on('Calendar.event-mouseenter', function(event, instance, elem){
            console.log('event : Calendar.event-mouseenter');
            console.log(instance);
            console.log(elem);
          });
          $('#calendar').on('Calendar.event-mouseleave', function(event, instance, elem){
            console.log('event : Calendar.event-mouseleave');
            console.log(instance);
            console.log(elem);
          });
          $('#calendar').on('Calendar.daynote-click', function(event, instance, elem, evt){
            console.log('event : Calendar.daynote-click');
            console.log(instance);
            console.log(elem);
            console.log(evt);
          });
          $('#calendar').on('Calendar.event-click', function(event, instance, elem, evt){
            console.log('event : Calendar.event-click');
            console.log(instance);
            console.log(elem);
            console.log(evt);
          });
        });
