extends layout
block content
     h1 #{title}
     br
     form(action="/completeevent", method="post")
      table.table.table-striped.table-bordered
         thead
           td Event Name
           td Category
           td Start Date
           td End Date
           td Location
           td Cost
           td Additional Information
         if (typeof events === "undefined")
           tr
             td
         else
           each event  in events 
             tr
               td #{event.name}
               td #{event.category}
               td #{prettyDate(event.start_date)}
               td #{prettyDate(event.end_date)}
               td #{event.location}
               td #{event.cost}
               td #{event.additional_information}
       button.btn.btn-primary(type="submit") Complete events
     hr
     form.well(action="/addevent", method="post")
       label Event Name:
       input(name="name", type="textbox")
       br
       label Start Date:
       input(name="start_date", type="datetime-local")
       br
       label End Date:
       input(name="end_date", type="datetime-local")
       br
       label Event Category:
       input(name="category", type="textbox")
       br
       label Event Location:
       input(name="location", type="textbox")
       br
       label Event Cost:
       input(name="cost", type="textbox")
       br
       label Additional Information:
       input(name="additional_information", type="textbox")
       br
       button.btn(type="submit") Add item
     hr
     form(action="/completeevent", method="post")
      .container-fluid
        .row
          .col-xs-12
            #calendar
      // Execute your JavaScript code after the libraries are loaded
      script.
        $(document).ready(function() {
          $('.dtp').datetimepicker();

          var Calendar = $('#calendar').Calendar();
          Calendar.init();
          console.log(Calendar);

          var dbevents = !{JSON.stringify(events)};
          var newItems = [];

          each item in dbevents
            -var newItem = {
                start: item.start_date,
                end: item.end_date,
                title: item.name,
                content: item.additional_information,
                category: item.category
              }
            - newItems.push(newItem);

          Calendar.addEvents(newItems);
        });
